body{
    background-color: aqua;
}
.red{
    color: blueviolet;
}
.white{
    color: red;
}
.Oreo{
    color: mediumblue;
}
.smart{
    color: darkorange;
}
.place{
    background-color: limegreen;
}
